# CHAVES DE API
OPENAI_API_KEY=
SERPER_API_KEY=

# Phoenix Cloud
PHOENIX_API_KEY=


# LLM
LLM_MODEL=gpt-4.1-nano
LLM_TEMPERATURE=0.3
LLM_COST_PROMPT_PER_1K=0.000001
LLM_COST_COMPLETION_PER_1K=0.000001


# RAG (base local)
RAG_USE_FAISS=true
RAG_TOP_K=3
CHUNK_SIZE=500
CHUNK_OVERLAP=100


# WEB SEARCH (Serper)
SEARCH_TOP_K=3


# ORQUESTRAÇÃO (CrewAI)
USE_CREWAI=true
CREWAI_STORAGE_DIR=.crewai
CREWAI_TRACING_ENABLED=true


# OBSERVABILIDADE / MÉTRICAS
PHOENIX_ENABLED=true
PHOENIX_PROJECT_NAME=fifa-world-cup-chatbot

# Phoenix Cloud (produção)
PHOENIX_COLLECTOR_ENDPOINT=https://app.phoenix.arize.com/
OTEL_EXPORTER_OTLP_METRICS_ENDPOINT=https://app.phoenix.arize.com/

# Phoenix Local (descomente se usar local)
# PHOENIX_COLLECTOR_ENDPOINT=http://localhost:6006/v1/traces
# OTEL_EXPORTER_OTLP_METRICS_ENDPOINT=http://localhost:6006/v1/metrics

# Opcional (caso precise passar headers no OTEL)
# OTEL_EXPORTER_OTLP_HEADERS=Authorization=Bearer <token>

METRICS_ENABLED=true
LOG_LEVEL=INFO


# CACHE / REWRITE / CONTEXTO
CACHE_ENABLED=true
CACHE_TTL_SECONDS=300
RAG_CACHE_TTL_SECONDS=300
SEARCH_CACHE_TTL_SECONDS=300

QUERY_REWRITE_ENABLED=true
CONTEXT_TTL=3